body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/671/770/original/seamless-patterns-with-red-and-pink-hearts-seamless-background-with-hearts-valentine-s-day-gift-wrap-printables-cloth-cute-background-for-a-card-vector.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 40px; /* default font size */
}

#button1{
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: green; 
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}
#button2 {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 0, 0); 
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #0056b3;
    transform: translateY(1px);
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    #button1,
    #button2 {
        padding: 8px 16px; /* Adjust button padding for smaller screens */
        font-size: 14px; /* Adjust button font size for smaller screens */
    }
}
